name: Deploy Changes to Hostinger VPS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - run: |
          touch .env
          echo "${{ secrets.ENV_FILE }}" > .env

      - run: npm run build --if-present
      - run: sudo pm2 restart real-estate
